/* Remove default bullets */
ul,
.treeUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.treeUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
.caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
    display: none;
    margin-left: 20px;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
    display: block;
}
<<<<<<< HEAD
=======

.list-group{
    margin-top: 10px;
    margin-left: 10px;
}

#guiviewer3d-toolbar {
    display: none !important;
}

#player {
    position: absolute;
    width: 100%;
    bottom: 20px;
    z-index: 9;
    opacity: 0.5;
    transition: opacity .1s ease-out;
    -moz-transition: opacity .1s ease-out;
    -webkit-transition: opacity .1s ease-out;
    -o-transition: opacity .1s ease-out;
}

#player:hover {
    cursor: pointer;
    opacity: 1;
}

#playerControls {
    width: 70%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#playBtn {
    font-size: 1.3em;
    width: 20px;
}

#playBtn:hover {
    cursor: pointer;
}

#pauseBtn {
    font-size: 1.3em;
    width: 20px;
    letter-spacing: 2px;
}

#pauseBtn:hover {
    cursor: pointer;
}

#customRange1 {
    margin-right: 32px;
    margin-left: 32px;
    width: 50%;
}

#time {
    width: 90px;
}
>>>>>>> master
